<section class="checkout-cancel">
  <h1>Payment canceled</h1>
  <p>Your checkout was canceled. You can return to the checkout page to try again.</p>
  <%= link_to "Return to home", root_path, class: "button" %>
</section>
