<div data-controller="checkout" data-checkout-publishable-key-value="<%= ENV["STRIPE_KEY_PUB"] %>">
  <!-- Display a payment form -->
  <div id="checkout">
    <!-- Checkout will insert the payment form here -->
  </div>
</div>
