<%
  href ||= root_path
  alt ||= "The Graditude"
%>

<%= link_to href do %>
  <span class="sr-only"><%= alt %></span>

  <%= image_tag "graditude_logo_icon_black.png", alt: alt, class: "h-8 w-auto dark:hidden" %>
  <%= image_tag "graditude_logo_icon_white.png", alt: alt, class: "hidden h-8 w-auto dark:inline" %>
<% end %>
