<% button_text = local_assigns.fetch(:button_text, "Checkout") %>

<div data-controller="checkout stripe" data-stripe-publishable-key-value="<%= ENV["STRIPE_KEY_PUB"] %>">
  <div class="mt-10">
    <div data-checkout-target="buttonGroup">
      <button type="button" data-action="checkout#startCheckout" data-checkout-target="button" class="w-full inline-flex items-center justify-center rounded-full border border-transparent bg-primary px-4 py-3 text-base font-medium text-background shadow-sm">
        <%= button_text %>
      </button>

      <p data-checkout-target="feedback" class="mt-4 text-sm text-success"></p>
    </div>
  </div>
</div>
