<% header_class = local_assigns[:class] || "absolute inset-x-0 top-0 z-50" %>
<header class="<%= header_class %>">
  <%# Standard menu %>
  <nav aria-label="Global" class="flex items-center justify-between lg:justify-start lg:align-bottom">
    <button type="button" command="show-modal" commandfor="mobile-menu" class="text-gray-700 lg:hidden dark:text-gray-200 w-full">
      <span class="sr-only">Open main menu</span>

      <div class="flex flex-row justify-between items-center gap-2">
        <%= render "landing/logo" %>

        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </button>

    <div class="hidden lg:ml-12 lg:flex lg:gap-x-14 h-8">
      <%= render "landing/navbar_links", mobile: false %>
    </div>
  </nav>

  <%# Mobile menu %>
  <el-dialog>
    <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
      <div tabindex="0" class="fixed inset-0 focus:outline-none">
        <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 dark:bg-gray-900 dark:sm:ring-gray-100/10">
          <div class="flex items-center justify-between">
            <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700 dark:text-gray-200">
              <span class="sr-only">Close menu</span>

              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10 dark:divide-white/10">
              <div class="space-y-2 py-6">
                <%= render "landing/navbar_links", mobile: true %>
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
</header>
