<%
  close_path = local_assigns[:close_path] || request.referer || root_path
%>

<div class="fixed inset-0">
  <div class="absolute inset-0 bg-content/50"></div>
  <%= link_to close_path,
    class: "absolute inset-0",
    aria: { label: "Close dialog" },
    data: { turbo_frame: "_top" } do %>
    <span class="sr-only">Close dialog</span>
  <% end %>
  <div class="relative min-h-screen min-w-screen flex justify-center items-center p-4">
    <div class="relative p-8 rounded-lg shadow-lg text-content bg-background dark:bg-background-secondary w-full max-w-3xl">
      <h2 class="mb-10 flex justify-between items-center">
        <span class="font-bold text-3xl">
          <%= title %>
        </span>

        <%= link_to close_path,
          class: "text-2xl focus:ring-0 focus:ring-offset-0 focus:outline-none hover:cursor-pointer text-content-muted hover:text-content",
          aria: { label: "Close dialog" },
          data: { turbo_frame: "_top" } do %>
          ✖︎
        <% end %>
      </h2>

      <%# the actual form goes here %>
      <%= yield close_path %>

    </div>
  </div>
</div>
