<div data-controller="visibility">
  <%= render "form_modal", certificate: certificate %>

  <div class="flex flex-col md:flex-row justify-center gap-8 p-8 md:p-0" data-visibility-target="hideable">
    <% if show_edit %>
      <button command="show-modal" commandfor="certificate-form" class="w-full min-w-48 text-background dark:text-background lg:w-auto text-center rounded-full px-3 py-2 bg-primary/80 hover:bg-primary dark:bg-primary-dark/80 dark:hover:bg-primary-dark inline-block font-medium hover:cursor-pointer">Edit</button>
    <% end %>

    <%= button_to "✖︎ Delete", certificate, method: :delete, class: "w-full min-w-48 text-background dark:text-background lg:w-auto text-center rounded-full px-3 py-2 bg-primary/80 hover:bg-primary dark:bg-primary-dark/80 dark:hover:bg-primary-dark inline-block font-medium hover:cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
