  <div style="background-image: url('<%= asset_path("blank.png") %>'); background-size: cover; background-position: center; background-repeat: no-repeat;" class="
    rounded-xl
    h-[418.671875] w-[542]
    md:h-[395.5] md:w-[512]
    lg:h-[527.3125] lg:w-[682.65625]
    xl:h-[659.140625] xl:w-[853.328125]
    2xl:h-[791] 2xl:w-[1024]
    mx-auto
    shadow-xl dark:shadow-none
    mb-4
  ">
    <img
      alt="Your certificate"
      class="rounded-xl"
      data-controller="preview"
      data-preview-target="img"
      data-preview-src-value="<%= "#{preview_certificate_path(certificate.id)}.png" %>"
    />
  </div>
