<!--
e.g.: UI element to invoke this modal:
<button command="show-modal" commandfor="certificate-form" type="button">
  Show modal
</button>
-->

<el-dialog>
  <dialog id="certificate-form" class="backdrop:bg-black/50 transition duration-200 data-closed:opacity-0" command="close" commandfor="certificate-form" >
    <el-dialog-panel class="fixed transition duration-200 data-closed:scale-70 data-closed:opacity-0">
      <div class="min-h-screen min-w-screen flex justify-center items-center">
        <div class="p-8 bg-background/90  dark:bg-background-dark/90 rounded-xl shadow-lg">
          <h2 class="mb-10 flex justify-between items-center">
            <span class="font-bold text-3xl">Edit certificate</span>
            
            <button command="close" commandfor="certificate-form" type="button" class="text-2xl hover:cursor-pointer text-content-muted/70 hover:text-content-muted dark:text-content-muted-dark/70 dark:hover:text-content-muted-dark">✖︎</button>
          </h2>

          <%= render "form", certificate: certificate %>
        </div>
      </div>
    </el-dialog-panel>
  </dialog>
</el-dialog>
