<div class="p-8 bg-success/20 font-medium rounded-md inline-block" id="notice">
  <div class="flex justify-between items-baseline">
    <div class="text-2xl font-semibold">
      <span class="text-success"> ★ </span>
      <%= notice || "Certificate #{certificate && "for {#certificate.honoree_name}"} was updated" %> 
    </div>
  </div>
</div>
